@import '~assets/styles/_bootstrap-overrides.scss'; // bootstrap overrides should be loaded 1st

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

.required:after {
  content: " *";
  color: red;
}

.pointer {
  cursor: pointer;
}

.cursor-help {
  cursor: help;
}

.break-word {
  overflow-wrap: break-word;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.5 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  opacity: 0.5 !important;
}

.truncate-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.form-control {
  &.is-invalid {
    border: 1px solid #dc3545;
  }
}

.bg-gradient-primary {
  background: $theme-gradient !important;
}

.text-zerocode {
  background: $theme-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text {
  &:hover {
    @extend .text-zerocode;
  }
}

.active-nav {
  @extend .text-zerocode;
}