.required:after {
  content: " *";
  color: red;
}

.pointer {
  cursor: pointer;
}

.truncate-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.form-control {
  &.is-invalid {
    border: 1px solid #dc3545;
  }
}

.bg-gradient-primary {
  background: $theme-gradient !important;
}

.gradient-text {
  &:hover {
    background: $theme-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}