.stepper-box {
    .content {
        margin: 5.5rem 0 2rem 0 !important;
    }
}

@media only screen and (max-width: 1024px) {
    .stepper-box {
        .content {
            margin: 8.5rem 0 2rem 0 !important;
        }
    }
}

@media only screen and (max-width: 400px) {
    .stepper-box {
        .content {
            margin: 4rem 0 2rem 0 !important;
        }
    }
}